<!-- <h6>Información adicional</h6>
<form action="" class="row">
    <div class="form-group col-md-3">
        <input type="email" name="correo" id="corre" placeholder="Correo"
        class="form-control" [(ngModel)]='correoInput' autocomplete="off">
    </div>
    <div class="form-group col-md-3 mb-4">
        <input type="text" name="direccion" id="corre" placeholder="direccion"
        class="form-control" [(ngModel)]='direccionInput' autocomplete="off">
    </div>
    <div class="row">
        <button type="reset" class="btn btn-primary" (click)='agregarExtra()'>
            Agregar
        </button>
    </div>    
</form> -->