<h1>APLICATIVOS</h1>
<mat-grid-list cols='3' class="mx-4">
    <mat-grid-tile routerLink='/calculadora'>
        <div style="display: grid;">
            <span>Calculadora</span>
            <img src="../../assets/img/2x/baseline_calculate_black_24dp.png" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile routerLink='/listado'>
        <div style="display: grid;">
            <span>Listado de Personas</span>
            <img src="../../assets/img/2x/baseline_group_black_24dp.png" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile routerLink='/presupuesto'>
        <div style="display: grid;">
            <span>Aplicativo de presupuesto</span>
            <img src="../../assets/img/2x/baseline_monetization_on_black_24dp.png" alt="">
        </div>
    </mat-grid-tile>
</mat-grid-list>
