<div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
    <div *ngFor='let ingreso of ingresos' class="elemento limpiarEstilos">
        <div class="elemento_descripcion"> {{ ingreso.descripcion }} </div>
        <div class="derecha limpiarEstilos">
            <div class="elemento_valor">+ {{ ingreso.valor | currency:'COL':'$':'1.2-2' }} </div>
            <div class="elemento_eliminar">
                <button class="elemento_eliminar--btn">
                    <img src="../../assets/img/1x/round_clear_black_24dp.png"
                    (click)='eliminarRegistro(ingreso)' alt="">
                </button>
            </div>
        </div>
    </div>
</div>